.sendFileForm {
    max-width: 100%;
    min-height: 100px;
    background-color: grey;
    border-radius: 25px;
}
.sendFileForm-btnClose {
    max-width: 40%;
    border-radius: 10px;
    background-color: brown;
    color: white;
    border: 1px solid grey;
}
.sendFileForm-btnOpen {
    max-width: 40%;
    border-radius: 10px;
    background-color: green;
    color: white;
    border: 1px solid grey;
}